.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input,
  .textarea,
  .select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .textarea {
    height: 100px;
  }
  
  .button {
    padding: 10px;
    background: linear-gradient(to left, #ff7e5f, #feb47b);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #efe1af;
  }
  