/* @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .header-container {
    background-color: #333;
    padding: 15px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-link {
    color: white;
    text-decoration: underline;
    margin-right: 20px;
    font-weight: bold;
    transition: color 0.3s;
    animation: slideDown 0.5s ease-out;
  }
  
  .nav-link:hover {
    color: #c7790d;
  }
  
  .logout-button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: slideDown 0.7s ease-out;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
   */
   @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .header-container {
    background-color: #333;
    padding: 10px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 50px;
    margin-right: 20px;
    
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  .nav-link {
    color: white;
    text-decoration: underline;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    animation: slideDown 0.5s ease-out;
  }
  
  .nav-link:hover {
    color: #ff6557;
    text-decoration: none;
  }
  
  .logout-button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: slideDown 0.7s ease-out;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  